body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
	color: #333;
	position: relative;
}

h1:after, 
h2:after {
	content: '';
	width: 50px;
	position: absolute;
	left: 0;
	bottom: -10px;
	border-width: 0 0 2px;
	border-style: solid;
	border-color: #bf3d25;
}

p, a, li {
	font-size: 16px;
	line-height: 1.67rem;
	letter-spacing: 0.003em;
}

p, li {
	color: #555;
}

nav {
	padding: 10px;
	text-align: center;
}

nav a {
	margin: 0 5px;
	padding: 14px;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	background-color: rgba(255,255,255,0.2);
}

main {
	width: 100%;
	padding: 20px 0;
	display: inline-block;
}

footer {
	display: inline-block;
	width: 100%;
	padding: 40px 0 50px;
	background-color: rgba(255,61,37,.8);
	text-align: center;
}

footer p {
	color: #fff;
}

#hero {
	padding: 60px 0 30px;
	background-color: rgba(255,61,37,.8);
}

#logo {
	width: 100%;
	margin-bottom: 20px;
}

.container {
	width: 768px;
	margin: 0 auto;
	box-sizing: border-box;
}

.row {
	width: 100%;
	padding: 20px 0;
	float: left;
}

.column {
	width: 50%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}

	.column {
		width: 100%;
		padding: 0;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	p, li {
		font-size: 14px;
	}
}